#include <os2.h>

#include "capitel\source.os2\texte.h"
//#include "..\..\common\source\texte.h"
#include "capitel\source.os2\capitel.h"
#include "capitel\source.os2\configrc.h"
#include "common\source\global.h"
#include "common\source\version.h"

ICON ID_FRAME        PRELOAD capitel\source.os2\bmpico\capitel.ico

ICON ID_BMP_CALL0    PRELOAD capitel\source.os2\bmpico\call0.ico
ICON ID_BMP_CALL1    PRELOAD capitel\source.os2\bmpico\call1.ico
ICON ID_BMP_CALL2    PRELOAD capitel\source.os2\bmpico\call2.ico
ICON ID_BMP_CALL3    PRELOAD capitel\source.os2\bmpico\call3.ico
ICON ID_BMP_PORT0    PRELOAD capitel\source.os2\bmpico\port0.ico
ICON ID_BMP_PORT1    PRELOAD capitel\source.os2\bmpico\port1.ico
ICON ID_BMP_CALLER0  PRELOAD capitel\source.os2\bmpico\caller0.ico
ICON ID_BMP_CALLER1  PRELOAD capitel\source.os2\bmpico\caller1.ico
ICON ID_BMP_ACTION0  PRELOAD capitel\source.os2\bmpico\action0.ico
ICON ID_BMP_ACTION1  PRELOAD capitel\source.os2\bmpico\action1.ico

BITMAP ID_CALL_DEL   PRELOAD capitel\source.os2\bmpico\delete.bmp
BITMAP IDI_TOGGLE    PRELOAD capitel\source.os2\bmpico\disable.bmp

BITMAP ID_CALL_PLAY  PRELOAD capitel\source.os2\bmpico\play.bmp
BITMAP ID_CALL_PLAY_ALL PRELOAD capitel\source.os2\bmpico\playall.bmp

BITMAP ID_ADD_CALLER PRELOAD capitel\source.os2\bmpico\add.bmp

BITMAP IDI_PORTS     PRELOAD capitel\source.os2\bmpico\ports.bmp
BITMAP IDI_PEOPLE    PRELOAD capitel\source.os2\bmpico\people.bmp
BITMAP IDI_DTMF      PRELOAD capitel\source.os2\bmpico\actions.bmp
BITMAP IDI_SETUP     PRELOAD capitel\source.os2\bmpico\setup.bmp

MENU ID_FRAME PRELOAD
BEGIN

  SUBMENU MENU_GENERAL, IDS_GENERAL, MIS_SUBMENU | MIS_TEXT, 0
  BEGIN
    MENUITEM MENU_ACTIVE, IDI_TOGGLE, MIS_TEXT, 0
    MENUITEM MENU_CONTROLS, IDI_HIDE, MIS_TEXT, 0
    MENUITEM MENU_PROPERTIES, IDI_SETUP, MIS_TEXT, 0
    MENUITEM "", 0, MIS_SEPARATOR, 0
    MENUITEM MENU_EXIT, IDI_EXIT, MIS_TEXT, 0
  END

  SUBMENU MENU_CALL, IDS_CALL, MIS_SUBMENU | MIS_TEXT, 0
  BEGIN
    MENUITEM MENU_PLAY, ID_CALL_PLAY, MIS_TEXT, 0
    MENUITEM MENU_DELETE, ID_CALL_DEL, MIS_TEXT, 0
    MENUITEM MENU_ADD_CALLER, ID_ADD_CALLER, MIS_TEXT, 0
    MENUITEM "", 0, MIS_SEPARATOR, 0
    MENUITEM MENU_PLAY_ALL, ID_CALL_PLAY_ALL, MIS_TEXT, 0
    MENUITEM MENU_RECORD, ID_CALL_REC, MIS_TEXT, 0
  END

  SUBMENU MENU_HELP, IDS_HELP, MIS_SUBMENU | MIS_TEXT, 0
  BEGIN
    MENUITEM MENU_README, IDI_README, MIS_TEXT, 0
    MENUITEM MENU_WHATSNEW, IDI_WHATSNEW, MIS_TEXT, 0
    MENUITEM MENU_LICENSE, IDI_LICENSE, MIS_TEXT, 0
    MENUITEM MENU_ORDER, IDI_ORDER, MIS_TEXT, 0
    MENUITEM MENU_ORDERBMT, IDI_ORDERBMT, MIS_TEXT, 0
/*    MENUITEM MENU_HOMEPAGE, IDI_HOMEPAGE, MIS_TEXT, 0 */
    MENUITEM "", 0, MIS_SEPARATOR, 0
    MENUITEM MENU_PRODUCT_INFO, IDI_INFO, MIS_TEXT, 0
  END
END

MENU ID_POPUP PRELOAD
BEGIN
  MENUITEM MENU_PLAY, ID_POPUP_PLAY, MIS_TEXT, 0
  MENUITEM MENU_DELETE, ID_POPUP_DEL, MIS_TEXT, 0
  MENUITEM MENU_ADD_CALLER, ID_POPUP_ADD_CALLER, MIS_TEXT, 0
  MENUITEM "", 0, MIS_SEPARATOR, 0
  MENUITEM MENU_PLAY_ALL, ID_POPUP_PLAY_ALL, MIS_TEXT, 0
  MENUITEM MENU_RECORD, ID_CALL_REC, MIS_TEXT, 0

  MENUITEM "", 0, MIS_SEPARATOR, 0
  MENUITEM MENU_ACTIVE, IDI_TOGGLE, MIS_TEXT, 0
  MENUITEM MENU_CONTROLS, IDI_HIDE, MIS_TEXT, 0
  MENUITEM MENU_PROPERTIES, IDI_SETUP, MIS_TEXT, 0

  MENUITEM "", 0, MIS_SEPARATOR, 0
  MENUITEM MENU_PRODUCT_INFO, IDI_INFO, MIS_TEXT, 0

  MENUITEM "", 0, MIS_SEPARATOR, 0
  MENUITEM MENU_EXIT, IDI_EXIT, MIS_TEXT, 0

END

DLGTEMPLATE CFG_DIALOG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_CAPITEL_PROPERTIES, CFG_DIALOG, 55, 24, 392, 195, WS_VISIBLE, FCF_SYSMENU |
            FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        DEFPUSHBUTTON   MENU_SAVE, CFG_BUT_SAVE, 20, 4, 50, 14
        PUSHBUTTON      MENU_CANCEL, CFG_BUT_CANCEL, 75, 4, 50, 14
        LTEXT           MENU_HINT
                        0, 140, 10, 250, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000L
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
        NOTEBOOK        CFG_NOTEBOOK, 0, 20, 392, 175, BKS_BACKPAGESBR |
                        BKS_MAJORTABRIGHT | BKS_STATUSTEXTCENTER |
                        BKS_SPIRALBIND | WS_GROUP | WS_CLIPSIBLINGS | FCF_V4_NOTEBOOKS
    END
END

DLGTEMPLATE CFG_NB_PAGE1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", CFG_NB_PAGE1, 0, 0, 300, 125, NOT FS_DLGBORDER | WS_VISIBLE
    BEGIN
        GROUPBOX        MENU_DEFAULT_BEHAVIOUR, 0, 5, 5, 130, 130

        AUTOCHECKBOX    MENU_PLAY_RINGING, CFG_NBP1_RINGING,
                        10, 115, 120, 10, WS_GROUP
        AUTOCHECKBOX    MENU_REST_WIN_CALL, CFG_NBP1_FLASH,
                        10, 105, 120, 10, WS_GROUP
        AUTOCHECKBOX    MENU_CONF_CALL_DEL, CFG_NBP1_DELPROMPT,
                        10, 95, 120, 10
        AUTOCHECKBOX    MENU_IGNORE_EMPTY_CALLS, CFG_NBP1_IGNOREEMPTY,
                        10, 85, 120, 10
        AUTOCHECKBOX    MENU_SHOW_DIGITAL_CALLS, CFG_NBP1_SHOWDIGITAL,
                        10, 75, 120, 10
        AUTOCHECKBOX    MENU_EXPAND_CODE, CFG_NBP1_EXPAND,
                        10, 65, 120, 10
        AUTOCHECKBOX    MENU_DTMF_SUPPORT, CFG_NBP1_DTMF,
                        10, 55, 120, 10
        AUTOCHECKBOX    MENU_ULAW_CODEC, CFG_NBP1_ULAW_CODEC,
                        10, 45, 120, 10

        LTEXT           MENU_ANSWER_DELAY, 0, 10, 32, 70, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_DELAY, 80, 33, 15, 6, ES_RIGHT | ES_MARGIN
        LTEXT           MENU_SECONDS, 0, 100, 32, 30, 8, DT_VCENTER

        LTEXT           MENU_MAX_REC_TIME, 0, 10, 21, 70, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_MAXRECTIME, 80, 22, 15, 6, ES_RIGHT | ES_MARGIN
        LTEXT           MENU_SECONDS, 0, 100, 21, 30, 8, DT_VCENTER

        LTEXT           MENU_SILENCE_DETECTION, 0, 10, 10, 70, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_SILENCE, 80, 11, 15, 6, ES_RIGHT | ES_MARGIN
        LTEXT           MENU_SECONDS, 0, 100, 10, 30, 8, DT_VCENTER

        GROUPBOX        MENU_POPUP_GROUP, 0, 140, 103, 230, 26
        LTEXT           MENU_POPUP_DESC, 0, 145, 109, 100, 8, DT_VCENTER
        CONTROL         "", CFG_NBP1_POPUPWINDOW, 256, 68, 79, 50,
                        WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP |
                        WS_TABSTOP | WS_VISIBLE

        GROUPBOX        MENU_DEFAULT_FILES, 0, 140, 66, 230, 35

        LTEXT           MENU_WELCOME_WAV, 0, 145, 82, 60, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_WELCOME_FILE, 220, 83, 125, 6, ES_MARGIN
        PUSHBUTTON      "...", CFG_NBP1_WELCOME_FDLG, 350, 81, 15, 10

        LTEXT           MENU_RINGING_WAV, 0, 145, 71, 60, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_RINGING_FILE, 220, 72, 125, 6, ES_MARGIN
        PUSHBUTTON      "...", CFG_NBP1_RINGING_FDLG, 350, 70, 15, 10

        GROUPBOX        MENU_NOTIFY_GROUP, 0, 140, 40, 230, 24

        LTEXT           MENU_NOTIFY_TEXT, 0, 145, 45, 150, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_NBP1_NOTIFY_NUMBER, 300, 46, 62, 6, ES_MARGIN

        GROUPBOX        MENU_LOGFILE, 0, 140, 5, 230, 33

        LTEXT           MENU_HINT_LOG,
                        0, 145, 20, 215, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000L

        ENTRYFIELD      "", CFG_NBP1_LOGFILE, 147, 11, 215, 6, ES_MARGIN |
                        WS_GROUP
    END
END

DLGTEMPLATE CFG_NB_PAGE2 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", CFG_NB_PAGE2, 0, 0, 0, 0, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
      CONTAINER         CFG_NBP2_CNTR, 0, 0, 0, 0, CCS_SINGLESEL | CCS_MINIRECORDCORE | WS_GROUP
    END
END

DLGTEMPLATE CFG_NB_PAGE3 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", CFG_NB_PAGE3, 0, 0, 0, 0, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
      CONTAINER         CFG_NBP3_CNTR, 0, 0, 0, 0, CCS_SINGLESEL | CCS_MINIRECORDCORE | WS_GROUP
    END
END

DLGTEMPLATE CFG_NB_PAGE4 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", CFG_NB_PAGE4, 0, 0, 0, 0, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
      CONTAINER         CFG_NBP4_CNTR, 0, 0, 0, 0, CCS_SINGLESEL | CCS_MINIRECORDCORE | WS_GROUP
    END
END

MENU CFG_PEOPLE_POPUP LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  MENUITEM MENU_ADD, CFG_PEOPLE_ADD, MIS_TEXT, 0
  MENUITEM MENU_EDIT, CFG_PEOPLE_EDIT, MIS_TEXT, 0
  MENUITEM MENU_DELETE_SHORT, CFG_PEOPLE_DEL, MIS_TEXT, 0
END

DLGTEMPLATE CFG_PEOPLE_EDITDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_EDIT_CALLER, CFG_PEOPLE_EDITDLG, 0, 0, 244, 187,
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        GROUPBOX        " ", 0, 5, 23, 234, 161

        AUTOCHECKBOX    MENU_CALLER_ENABLED, CFG_PEOPLE_EDITDLG_ACTIVE, 12, 174,
                        100, 10, WS_GROUP

        LTEXT           MENU_NAME, 0, 12, 160, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_NAME, 68, 161, 160, 8,
                        ES_MARGIN | WS_GROUP

        LTEXT           MENU_NUMBER, 0, 12, 148, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_NUMBER, 68, 149, 160, 8,
                        ES_MARGIN

        LTEXT           MENU_CALLER_DEFHELP, 0, 12, 126, 220, 16, DT_WORDBREAK
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

        LTEXT           MENU_WELCOME, 0, 12, 113, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_FILE, 68, 114, 143, 8,
                        ES_MARGIN
        PUSHBUTTON      "...", CFG_PEOPLE_EDITDLG_FILEDLG, 214, 112, 17, 12

        LTEXT           MENU_RINGING, 0, 12, 101, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_RINGING, 68, 102, 143, 8,
                        ES_MARGIN
        PUSHBUTTON      "...", CFG_PEOPLE_EDITDLG_RINGING_FDLG, 214, 100, 17, 12

        LTEXT           MENU_REACTION_D, 0, 12, 84, 90, 8, DT_VCENTER
        CONTROL         "", CFG_PEOPLE_EDITDLG_REJECT, 109, 37, 73, 58,
                        WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP |
                        WS_TABSTOP | WS_VISIBLE

        LTEXT           MENU_ANSWER_DELAY_D, 0, 12, 67, 90, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_DELAY, 111, 68, 21, 8,
                        ES_RIGHT | ES_MARGIN | WS_GROUP
        LTEXT           MENU_SECONDS, 0, 137, 67, 40, 8

        LTEXT           MENU_MAX_REC_TIME_D, 0, 12, 55, 90, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_MAXRECTIM, 111, 56, 21, 8,
                        ES_RIGHT | ES_MARGIN
        LTEXT           MENU_SECONDS, 0, 137, 55, 40, 8

        LTEXT           MENU_NOTIFY_TEXT_D, 0, 12, 30, 120, 16, DT_WORDBREAK
        ENTRYFIELD      "", CFG_PEOPLE_EDITDLG_NOTIFY, 137, 31, 93, 8, ES_MARGIN

        DEFPUSHBUTTON   MENU_OK, CFG_PEOPLE_EDITDLG_OK, 5, 4, 50, 14, WS_GROUP
        PUSHBUTTON      MENU_CANCEL, CFG_PEOPLE_EDITDLG_CANCEL, 60, 4, 50, 14
    END
END

MENU CFG_PORTS_POPUP LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  MENUITEM MENU_ADD, CFG_PORTS_ADD, MIS_TEXT, 0
  MENUITEM MENU_EDIT, CFG_PORTS_EDIT, MIS_TEXT, 0
  MENUITEM MENU_DELETE, CFG_PORTS_DEL, MIS_TEXT, 0
END

DLGTEMPLATE CFG_PORTS_EDITDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_EDITING_PORTS, CFG_PORTS_EDITDLG, 0, 0, 244, 187, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        GROUPBOX        " ", 0, 5, 23, 234, 161

        AUTOCHECKBOX    MENU_PORT_ENABLED, CFG_PORTS_EDITDLG_ACTIVE, 12, 174,
                        100, 10, WS_GROUP

        LTEXT           MENU_DESCRIPTION_D, 0, 12, 160, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_DESCR, 68, 161, 160, 8,
                        ES_MARGIN | WS_GROUP

        LTEXT           MENU_EAZ_D, 0, 12, 148, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_NUMBER, 68, 149, 160, 8,
                        ES_MARGIN | WS_GROUP

        LTEXT           MENU_PORT_DEFHELP, 0, 12, 126, 220, 16, DT_WORDBREAK
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

        LTEXT           MENU_WELCOME_D, 0, 12, 113, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_FILE, 68, 114, 143, 8,
                        ES_MARGIN
        PUSHBUTTON      "...", CFG_PORTS_EDITDLG_FILEDLG, 214, 112, 17, 12

        LTEXT           MENU_RINGING_D, 0, 12, 101, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_RINGING, 68, 102, 143, 8,
                        ES_MARGIN
        PUSHBUTTON      "...", CFG_PORTS_EDITDLG_RINGING_FDLG, 214, 100, 17, 12

        LTEXT           MENU_REACTION_D, 0, 12, 84, 90, 8, DT_VCENTER
        CONTROL         "", CFG_PORTS_EDITDLG_REJECT, 109, 47, 73, 48,
                        WC_COMBOBOX, CBS_DROPDOWNLIST | WS_TABSTOP |
                        WS_VISIBLE | WS_GROUP

        LTEXT           MENU_ANSWER_DELAY_D, 0, 12, 67, 90, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_DELAY, 111, 68, 21, 8,
                        ES_RIGHT | ES_MARGIN | WS_GROUP
        LTEXT           MENU_SECONDS, 0, 137, 67, 40, 8

        LTEXT           MENU_MAX_REC_TIME_D, 0, 12, 55, 90, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_MAXRECTIM, 111, 56, 21, 8,
                        ES_RIGHT | ES_MARGIN
        LTEXT           MENU_SECONDS, 0, 137, 55, 40, 8

        LTEXT           MENU_NOTIFY_TEXT_D, 0, 12, 30, 120, 16, DT_WORDBREAK
        ENTRYFIELD      "", CFG_PORTS_EDITDLG_NOTIFY, 137, 31, 93, 8, ES_MARGIN

        DEFPUSHBUTTON   MENU_OK, CFG_PORTS_EDITDLG_OK, 5, 4, 50, 14, WS_GROUP
        PUSHBUTTON      MENU_CANCEL, CFG_PORTS_EDITDLG_CANCEL, 60, 4, 50, 14
    END
END

MENU CFG_DTMF_POPUP LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  MENUITEM MENU_ADD, CFG_DTMF_ADD, MIS_TEXT, 0
  MENUITEM MENU_EDIT, CFG_DTMF_EDIT, MIS_TEXT, 0
  MENUITEM MENU_DELETE_SHORT, CFG_DTMF_DEL, MIS_TEXT, 0
END

DLGTEMPLATE CFG_DTMF_EDITDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_EDITING_ACTION, CFG_DTMF_EDITDLG, 0, 0, 244, 158, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        GROUPBOX        " ", 0, 5, 23, 234, 131

        AUTOCHECKBOX    MENU_ACTION_ENABLED, CFG_DTMF_EDITDLG_ACTIVE, 12, 145, 100, 10, WS_GROUP

        LTEXT           MENU_DTMF_CODE, 0, 12, 132, 50, 8, DT_VCENTER
        ENTRYFIELD      "", CFG_DTMF_EDITDLG_CODE, 77, 133, 150, 8,
                        ES_MARGIN | WS_GROUP

        AUTORADIOBUTTON MENU_REMOTE_CONTROL, CFG_DTMF_EDITDLG_RB_RCONTROL,
                        12, 115, 130, 10, WS_TABSTOP | WS_GROUP
        AUTORADIOBUTTON MENU_SET_NOTIFY, CFG_DTMF_EDITDLG_RB_SETNOTIFY,
                        12, 105, 130, 10, WS_TABSTOP
        AUTORADIOBUTTON MENU_REBOOT_CTEL, CFG_DTMF_EDITDLG_RB_REBOOT,
                        12, 95, 130, 10, WS_TABSTOP
        AUTORADIOBUTTON MENU_DEACTIVATE_CTEL, CFG_DTMF_EDITDLG_RB_DEACT,
                        12, 85, 130, 10, WS_TABSTOP
        AUTORADIOBUTTON MENU_QUIT_CTEL, CFG_DTMF_EDITDLG_RB_QUIT,
                        12, 75, 130, 10, WS_TABSTOP
        AUTORADIOBUTTON MENU_EXECUTE, CFG_DTMF_EDITDLG_RB_EXEC,
                        12, 65, 130, 10, WS_TABSTOP

        LTEXT           MENU_PROGRAM_D, 0, 23, 55, 50, 8, DT_VCENTER
        LTEXT           MENU_ARGUMENTS_D, 0, 23, 43, 50, 8, DT_VCENTER
        LTEXT           MENU_TITLE_D, 0, 23, 31, 50, 8, DT_VCENTER

        ENTRYFIELD      "", CFG_DTMF_EDITDLG_EXEC_PRG, 77, 55, 150, 8,
                        ES_MARGIN | WS_GROUP | WS_DISABLED
        ENTRYFIELD      "", CFG_DTMF_EDITDLG_EXEC_ARG, 77, 43, 150, 8,
                        ES_MARGIN | WS_GROUP | WS_DISABLED
        ENTRYFIELD      "", CFG_DTMF_EDITDLG_EXEC_TITLE, 77, 31, 150, 8,
                        ES_MARGIN | WS_GROUP | WS_DISABLED

        DEFPUSHBUTTON   MENU_OK, CFG_DTMF_EDITDLG_OK, 5, 4, 50, 14, WS_GROUP
        PUSHBUTTON      MENU_CANCEL, CFG_DTMF_EDITDLG_CANCEL, 60, 4, 50, 14
    END
END

DLGTEMPLATE ABOUT_DIALOG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  PROD_INFO, ABOUT_DIALOG, 27, 30, 238, 105,
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        LTEXT           APPSHORT, 0, 5, 80, 100, 20, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
                        PRESPARAMS PP_FONTNAMESIZE, "24.Helv"
        LTEXT           "", ABOUT_VERSION, 5, 70, 80, 8,
                        DT_VCENTER
        ICON            ID_FRAME, 0, 15, 41, 21, 16
        RTEXT           "Copyright (c) " APPDATE " by", 0, 100, 70, 130, 8,
                        DT_VCENTER
        RTEXT           APP_AUTOR_1, 0, 100, 60, 130, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
        RTEXT           APP_WERNER_INET, 0, 70, 53, 160, 8,
                        DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
        RTEXT           MENU_AND, 0, 100, 44, 130, 8, DT_VCENTER
        RTEXT           APP_AUTOR_2, 0, 100, 34, 130, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
        RTEXT           APP_CAWIM_INET, 0, 70, 27,
                        160, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
        RTEXT           APP_HOMEPAGE, 0, 70, 20,
                        160, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
                        PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
        RTEXT           MENU_UNREG_COPY, ABOUT_REG, 50, 5,
                        180, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000L
        DEFPUSHBUTTON   MENU_OK, ABOUT_OK, 5, 4, 40, 14
    END
END

DLGTEMPLATE ID_RECDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_RECORD_WELCOME, ID_RECDLG, 49, 115, 204, 49,
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        LTEXT           MENU_ENTER_FILENAME, ID_TOOLBAR, 5, 35, 111, 8
        ENTRYFIELD      "", ID_RECDLG_ENTRY, 7, 25, 189, 8, ES_MARGIN | WS_GROUP
        DEFPUSHBUTTON   MENU_OK, ID_RECDLG_OK, 5, 4, 40, 14, WS_GROUP
        PUSHBUTTON      MENU_CANCEL, ID_RECDLG_CANCEL, 50, 4, 60, 14
    END
END

DLGTEMPLATE INCALL_DIALOG PRELOAD MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", INCALL_DIALOG, 93, 124, 123, 36, FS_DLGBORDER |
             WS_VISIBLE
    BEGIN
        CTEXT           MENU_INCOMMING_CALL, 0, 5, 24, 113, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000L
        CTEXT           MENU_FROM, INCALL_FROM, 5, 14, 113, 8, DT_VCENTER
        CTEXT           MENU_ON, INCALL_ON, 5, 4, 113, 8, DT_VCENTER
    END
END

DLGTEMPLATE RECORD_DIALOG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", RECORD_DIALOG, 89, 143, 161, 27, WS_VISIBLE
    BEGIN
        CTEXT           MENU_RECORDING, RECORD_REC, 5, 14, 131, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000L
        CTEXT           MENU_CALL_SELF, RECORD_STATUS, 5, 4, 151, 8,
                        DT_VCENTER
    END
END

DLGTEMPLATE REG_DIALOG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  MENU_REGISTRATION, REG_DIALOG, 93, 82, 220, 71, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        LTEXT           MENU_NAME_AND_CODE, 0, 5, 58, 210, 8
        RTEXT           MENU_NAME_D, 0, 13, 42, 35, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
        RTEXT           MENU_CODE_D, 0, 13, 27, 35, 8, DT_VCENTER
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00000000L
        ENTRYFIELD      "", REG_NAME, 55, 43, 126, 8, ES_MARGIN
        ENTRYFIELD      "", REG_CODE, 55, 28, 126, 8, ES_MARGIN
        DEFPUSHBUTTON   MENU_OK, REG_OK, 5, 4, 40, 14
        PUSHBUTTON      MENU_CANCEL, 0, 50, 4, 60, 14
    END
END

DLGTEMPLATE IDD_MSGBOX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG  "", IDD_MSGBOX, 0, 0, 200, 52, WS_VISIBLE, FCF_SYSMENU|FCF_TITLEBAR|FCF_CLOSEBUTTON
  BEGIN
    DEFPUSHBUTTON   "", DID_OK, 6, 5, 40, 14
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    PUSHBUTTON      "", DID_CANCEL, 50, 5, 40, 14
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    ICON            ID_FRAME, IDC_ICONSTATIC, 6, 27, 21, 16, WS_GROUP
    LTEXT           "", IDC_TEXT, 35, 27, 158, 16, DT_WORDBREAK
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  END
END

DLGTEMPLATE IDD_MSGBOXEX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG  "", IDD_MSGBOXEX, 0, 0, 200, 63, WS_VISIBLE, FCF_SYSMENU|FCF_TITLEBAR|FCF_CLOSEBUTTON
  BEGIN
    DEFPUSHBUTTON   "", DID_OK, 6, 5, 40, 14
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    PUSHBUTTON      "", DID_CANCEL, 50, 5, 40, 14
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    AUTOCHECKBOX    "", IDC_CHECK, 35, 24, 158, 10
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    ICON            ID_FRAME, IDC_ICONSTATIC, 6, 38, 21, 16, 
                    WS_GROUP
    LTEXT           "", IDC_TEXT, 35, 38, 158, 16, DT_WORDBREAK
                    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
  END
END


ACCELTABLE ID_FRAME
BEGIN
  VK_F3, IDI_EXIT, VIRTUALKEY
  VK_DELETE, ID_CALL_DEL, VIRTUALKEY
  VK_F4, IDI_EXIT, ALT, VIRTUALKEY
  VK_F5, IDI_REGISTRATION, ALT, CONTROL, VIRTUALKEY
  KEY_SS, IDI_SETUP, ALT
  KEY_LS, IDI_SETUP, ALT
  KEY_SA, IDI_TOGGLE, ALT
  KEY_LA, IDI_TOGGLE, ALT
  KEY_SR, ID_CALL_REC, ALT
  KEY_LR, ID_CALL_REC, ALT
  KEY_SP, ID_CALL_PLAY_ALL, ALT
  KEY_LP, ID_CALL_PLAY_ALL, ALT
  KEY_SC, IDI_HIDE, ALT
  KEY_LC, IDI_HIDE, ALT
  KEY_SN, ID_ADD_CALLER, ALT
  KEY_LN, ID_ADD_CALLER, ALT
END

STRINGTABLE PRELOAD
BEGIN
  IDI_TOGGLE        MENU_POP_TOGG
  ID_CALL_PLAY      MENU_POP_PLAY
  ID_CALL_PLAY_ALL  MENU_POP_PLAY_ALL
  ID_CALL_DEL       MENU_POP_DEL
  ID_ADD_CALLER     MENU_POP_ADD_CALLER
  IDI_SETUP         MENU_POP_OPEN
  IDI_PORTS         MENU_POP_EDIT_PORTS
  IDI_PEOPLE        MENU_POP_EDIT_CALLER
  IDI_DTMF          MENU_POP_EDIT_DTMF
  STR_OK_BUTTON     MENU_OK
  STR_CANCEL_BUTTON MENU_CANCEL
  STR_YES_BUTTON    MENU_YES
  STR_NO_BUTTON     MENU_NO
END

